<%= form_with(model: pokemon_type) do |form| %>
  <% if pokemon_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pokemon_type.errors.count, "error") %> prohibited this pokemon_type from being saved:</h2>

      <ul>
        <% pokemon_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pokemonId, style: "display: block" %>
    <%= form.number_field :pokemonId %>
  </div>

  <div>
    <%= form.label :typeId, style: "display: block" %>
    <%= form.number_field :typeId %>
  </div>

  <div>
    <%= form.label :pokemon_id, style: "display: block" %>
    <%= form.text_field :pokemon_id %>
  </div>

  <div>
    <%= form.label :type_id, style: "display: block" %>
    <%= form.text_field :type_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
