<div id="<%= dom_id pokemon_type %>">
  <p>
    <strong>Pokemonid:</strong>
    <%= pokemon_type.pokemonId %>
  </p>

  <p>
    <strong>Typeid:</strong>
    <%= pokemon_type.typeId %>
  </p>

  <p>
    <strong>Pokemon:</strong>
    <%= pokemon_type.pokemon_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= pokemon_type.type_id %>
  </p>

</div>
