<div id="<%= dom_id sprite %>">
  <p>
    <strong>Spritefront:</strong>
    <%= sprite.spriteFront %>
  </p>

  <p>
    <strong>Spriteback:</strong>
    <%= sprite.spriteBack %>
  </p>

  <p>
    <strong>Spriteshinyfront:</strong>
    <%= sprite.spriteShinyFront %>
  </p>

  <p>
    <strong>Spriteshinyback:</strong>
    <%= sprite.spriteShinyBack %>
  </p>

  <p>
    <strong>Spritefemaleshinyfront:</strong>
    <%= sprite.spriteFemaleShinyFront %>
  </p>

  <p>
    <strong>Spritefemaleshinyback:</strong>
    <%= sprite.spriteFemaleShinyBack %>
  </p>

  <p>
    <strong>Spritefemailback:</strong>
    <%= sprite.spriteFemailBack %>
  </p>

  <p>
    <strong>Spritefemalefront:</strong>
    <%= sprite.spriteFemaleFront %>
  </p>

  <p>
    <strong>Pokemon:</strong>
    <%= sprite.pokemon_id %>
  </p>

</div>
