<div id="<%= dom_id pokemon_ability %>">
  <p>
    <strong>Pokemonid:</strong>
    <%= pokemon_ability.pokemonId %>
  </p>

  <p>
    <strong>Abilityid:</strong>
    <%= pokemon_ability.abilityId %>
  </p>

  <p>
    <strong>Pokemon:</strong>
    <%= pokemon_ability.pokemon_id %>
  </p>

  <p>
    <strong>Ability:</strong>
    <%= pokemon_ability.ability_id %>
  </p>

</div>
