  <div class="col border-right">
    <strong>Moveid:</strong>
    <%= move.id %>
  </div>

  <div class="col border-right">
    <strong>Name:</strong>
    <%= move.name %>
  </div>

  <div class="col border-right">
    <strong>Accuracy:</strong>
    <%= move.accuracy %>
  </div>

  <div class="col-6 border-right">
    <strong>Effect:</strong>
    <%= move.effect %>
  </div>

  <div class="col border-right">
    <strong>power:</strong>
    <%= move.power %>
  </div>

  <div class="col border-right">
    <strong>Power points:</strong>
    <%= move.pp %>
  </div>
