<div id="<%= dom_id move %>">
  <p>
    <strong>Moveid:</strong>
    <%= move.moveId %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= move.name %>
  </p>

  <p>
    <strong>Accuracy:</strong>
    <%= move.accuracy %>
  </p>

  <p>
    <strong>Effect:</strong>
    <%= move.effect %>
  </p>

  <p>
    <strong>Flavourtext:</strong>
    <%= move.flavourText %>
  </p>

</div>
