<div id="<%= dom_id ability %>">
  <p>
    <strong>Abilityid:</strong>
    <%= ability.abilityId %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ability.name %>
  </p>

  <p>
    <strong>Effect:</strong>
    <%= ability.effect %>
  </p>

  <p>
    <strong>Flavourtext:</strong>
    <%= ability.flavourText %>
  </p>

</div>
