<p style="color: green"><%= notice %></p>

<h1>Abilities</h1>
<%= paginate @abilities%>

<%= page_entries_info @abilities %>

<div id="abilities" class="container">
  <% @abilities.each do |ability| %>
  <div class="row tab-row">
    <%= render ability %>
    <div class="col showcol">
      <%= link_to "Show this ability", ability %>
    </div>
  </div>
  <% end %>
</div>

<%= link_to "New ability", new_ability_path %>
