<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row tab-row">
    <%= render @ability %>
  </div>
</div>

<div>
  <%= link_to "Edit this ability", edit_ability_path(@ability) %> |
  <%= link_to "Back to abilities", abilities_path %>

  <%= button_to "Destroy this ability", @ability, method: :delete %>
</div>
