<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Pokemonid:</strong>
    <%= pokemon.pokemonId %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Baseexperience:</strong>
    <%= pokemon.baseExperience %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= pokemon.hp %>
  </p>

  <p>
    <strong>Attack:</strong>
    <%= pokemon.attack %>
  </p>

  <p>
    <strong>Defense:</strong>
    <%= pokemon.defense %>
  </p>

  <p>
    <strong>Specialattack:</strong>
    <%= pokemon.specialAttack %>
  </p>

  <p>
    <strong>Specialdefense:</strong>
    <%= pokemon.specialDefense %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= pokemon.speed %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pokemon.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pokemon.height %>
  </p>

  <p>
    <strong>Generationid:</strong>
    <%= pokemon.generationId %>
  </p>

</div>
