<div class="col-sm border-right">
  <p>
    <strong>Name:</strong><br>
    <%= pokemon.name.capitalize %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Pokemonid:</strong><br>
    <%= pokemon.id %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Baseexperience:</strong><br>
    <%= pokemon.baseExperience %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Hp:</strong><br>
    <%= pokemon.hp %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Attack:</strong><br>
    <%= pokemon.attack %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Defense:</strong><br>
    <%= pokemon.defense %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Specialattack:</strong><br>
    <%= pokemon.specialAttack %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Specialdefense:</strong><br>
    <%= pokemon.specialDefense %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Speed:</strong><br>
    <%= pokemon.speed %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Weight:</strong><br>
    <%= pokemon.weight %>
  </p>
</div>

<div class="col-sm border-right">
  <p>
    <strong>Height:</strong><br>
    <%= pokemon.height %>
  </p>
</div>
