<p style="color: green"><%= notice %></p>

<%= render @pokemon %>

<div>
  <%= link_to "Edit this Pokemon", edit_pokemon_path(@pokemon) %> |
  <%= link_to "Back to Pokemon list", pokemons_path %>

  <%= button_to "Destroy this Pokemon", @pokemon, method: :delete %>
</div>
