<%= form_with(model: pokemon_move) do |form| %>
  <% if pokemon_move.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pokemon_move.errors.count, "error") %> prohibited this pokemon_move from being saved:</h2>

      <ul>
        <% pokemon_move.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pokemonId, style: "display: block" %>
    <%= form.number_field :pokemonId %>
  </div>

  <div>
    <%= form.label :moveId, style: "display: block" %>
    <%= form.number_field :moveId %>
  </div>

  <div>
    <%= form.label :pokemon_id, style: "display: block" %>
    <%= form.text_field :pokemon_id %>
  </div>

  <div>
    <%= form.label :move_id, style: "display: block" %>
    <%= form.text_field :move_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
