<div id="<%= dom_id pokemon_move %>">
  <p>
    <strong>Pokemonid:</strong>
    <%= pokemon_move.pokemonId %>
  </p>

  <p>
    <strong>Moveid:</strong>
    <%= pokemon_move.moveId %>
  </p>

  <p>
    <strong>Pokemon:</strong>
    <%= pokemon_move.pokemon_id %>
  </p>

  <p>
    <strong>Move:</strong>
    <%= pokemon_move.move_id %>
  </p>

</div>
